:root {
	--bg-primary: rgba(238, 238, 238, 1.0);
	--text-primary: rgba(39, 39, 39, 1.0);
	--link-color: rgba(85, 103, 118, 1.0);
	--shadow-color: rgba(0, 0, 0, 0.8);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

a {
	position: relative;
	color: var(--link-color);
	text-decoration: none;

	&::before {
		content: "";
		position: absolute;
		bottom: -2px;
		width: 0;
		height: 2px;
		background-color: var(--link-color);
		transition: width 250ms;
	}

	&:hover::before {
		width: 100%;
	}
}

p, li {
	font-style: italic;
}

.container {
	max-width: 768px;
	margin: 0 auto;
}

header li {
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2%;
	list-style: none;
	padding: 0;
}

#about {
	text-align: center;
}

.avatar {
	width: 300px;
	margin: 20px;
	border-radius: 50%;
	box-shadow: 0px 10px 20px var(--shadow-color);
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	font-style: normal;
}

.rss-logo {
	display: block;
	width: 80px;
	height: 30px;
}
